<div class="about_section" id="contact-me">
    <div class="about_section_image">
        <img class="about_image" src="/assets/images/jester-head-original.jpeg" alt="Jester head">
    </div>
    <div class="about_section_content">
        <h3 class="about_section_header">Hi I'm AliasJeer, but you can call me Joe.</h3>
        <p class="about_section_blurb">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <p class="about_section_text">You can reach me here:</p>
        <div class="contact_container">
            <a href="mailto:jeer.alias@gmail.com">Send Email</a>
        </div>
    </div>
</div>