---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.posts_layout {
    padding: 0em 2em;
}
.default_layout {
    padding-left: 2em;
    padding-right: 2em;
}

.aritcle_default_layout {
    margin: 0 1em;
}

.single_page_layout {
    width: 100%;
    padding: 0;
    margin: 0;
}


.post_date {
    padding-right: 1em;
}

.post_list_item {
    margin-bottom: 3.5em;
}

.post_item_picture {
    width: 60%;
    height: auto;
    margin-bottom: 1em;
    border-color:aquamarine;
    border-style: solid;
    border-width: 2px;
}

.blog_title {
    padding-bottom: 1em;
    padding-left: 0.5em;
    margin-top: 1em;
}
.page_title #page-title {
    padding-top: 10e;
}

.article_header {
    padding-top: 2em;
}

.article_page_meta {
    margin: 1em, 0em;
    padding-bottom: 1em;
    font-size: small;
}

.page_hero_div {
    width: 85%;
    height: auto;
    margin: 0;
}

.single_main_div#main {
    padding: 0;
}

.masthead__inner-wrap {
    padding: 1em 0;
    max-width: 100%;
}

/*
.page__content,
a .list__item,
.archive__subtitle {
    color:rgb(37, 179, 162)
}
*/
