---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.posts_layout {
    padding: 0em 2em;
}
.about_layout {
    padding-left: 2em;
    padding-right: 2em;
}

.post_date {
    padding-right: 1em;
}

.post_list_item {
    margin-bottom: 3.5em;
}

.post_item_picture {
    width: 60%;
    height: auto;
    margin-bottom: 1em;
    border-color:aquamarine;
    border-style: solid;
    border-width: 2px;
}

.blog_title {
    padding-bottom: 1em;
    padding-left: 0.5em;
    margin-top: 1em;
}

/*
.page__content,
a .list__item,
.archive__subtitle {
    color:rgb(37, 179, 162)
}
*/
