---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

body header {
    
    background-color: darkslategray;
    
}

h1 h2 h3 h4 h5 h6 p {
    font-family: SUSE;
    color: green;
}

